@charset "utf-8";
/* reset basico */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* inicio do cabeçalho */
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0085ff;
    height: 80px;
    border-bottom: 1px solid #000;
}
.cabecalho_menu-items{
    display: flex;
}
.cabecalho_menu-lista{
    display: flex;
}
.cabecalho_menu-lista--item{
    display: flex;
    padding-left: 1em;
    text-decoration: none;
}
.cabecalho_menu-lista--item a{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #00f;
    padding: 10px;
    border-radius: 15px;
}
.cabecalho_menu-lista--item a:hover{
    color: #fff;
    transform: scale(1.05);
}
.cabecalho_menu-lateral{
    display: none;
}
/* Conteudo */
body{
    background-color: #eee;
}
.conteudo{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #aaa;
    background-color: #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.conteudo_apresentação{
    display: flex;
}
.apresentacao-titulo{
    font-family: 'Padauk', sans-serif;
    font-size: 1.7rem;
    padding-top: 50px;
    text-decoration: underline #ffa500;
}
.apresentacao-paragrafo{
    font-family: 'Padauk', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    padding: 20px 0px 20px 0px;
    width: 700px;
    line-height: 1.5;
}
.conteudo_foto{
    display: flex;
}
.imagem-profile{
    border-radius: 50%;
}
/* Rodapé */
.rodape{
    background-color: #ff7040;
    color: #fff;
    padding: 50px 0px 30px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-around;
}
.rodape_introducao h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.mobile{
    display: none;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_redesSociais p{
    font-size: 1.1rem;
    line-height: 1.15;
}
.icone_facebook{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_linkedin{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_instagram{
    margin-top: 5px;
    margin-right: 6px;
}
.icone_github{
    margin-top: 5px;
    margin-left: 6px;
}
.rodape_icone{
    width: 20px;
    height: 30px;
    background-color: #eee;
    border-radius: 70%;
}
.icone_facebook:hover{
    transform: scale(1.1);
}
.icone_linkedin:hover{
    transform: scale(1.1);
}
.icone_instagram:hover{
    transform: scale(1.1);
}
.icone_github:hover{
    transform: scale(1.1);
}
.rodape_endereco h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_endereco p{
    font-size: 1.1rem;
    line-height: 1.15;
    font-style: italic;
}
.rodape_copy{
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
}

@media(max-width: 767px){
    /* inicio do cabeçalho */
    .cabecalho{
        display: flex;
        justify-content: space-between;
    }
    .cabecalho_menu-items{
        display: none;
    }
    /* MENU LATERAL */
    .cabecalho_menu-lateral{
        display: flex;
    }
    .checkbtn{
        display: none;
    }
    .menu_lateral-imagem{
        margin-left: 10px;
        position: absolute;
        top: -12px;
    }
    .menu_lateral-label{
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
    .checkbtn:checked ~ nav{
        transform: translateX(99%) translateY(3%);
    }
    .menu_lateral-items{
        background-color: #000;
        opacity: 0.8;
        width: 80%;
        height: 100%;
        position: absolute;
        left: -80%;
        top: -19px;
    }
    .menu_lateral-lista{
        position: absolute;
        top: 20%;
        height: 100%;
        width: 100%;
    }
    .menu_lateral-lista--item a{
        background-color: #000;
        display: block;
        color: #fff;
        padding: 20px 5px;
        text-align: center;
        border-bottom: 2px solid #00f;
        border-top: 2px solid #00f;
        font-weight: bold;
        font-size: 1.1rem;
    }
    .menu_lateral-lista--item a:hover{
        background-color: #444;
    }
    .cabecalho_menu-lista--item a:visited{
        background-color: #000;
    }
    /* LOGO */
    .logo_imagem{
        width: 150px;
        height: 80px;
        margin-left: 30px;
    }
    /* CONTEUDO */
    .conteudo{
        width: 90%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #aaa;
        background-color: #ccc;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .conteudo_apresentação{
        display: flex;
        width: 30%;
        justify-content: center;
    }
    .apresentacao-titulo{
        font-family: 'Padauk', sans-serif;
        font-size: 1.6rem;
        padding-top: 50px;
        text-decoration: underline #ffa500;
        padding-left: 10px;
    }
    .apresentacao-paragrafo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.1rem;
        text-align: justify;
        padding: 20px 0px 20px 0px;
        width: 90%;
        line-height: 1.5;
        padding-left: 10px;
    }
    .emoji{
        display: none;
    }
    .conteudo_foto{
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: center;
    }
    .imagem-profile{
        border-radius: 50%;
        margin-right: 10px;
        width: 50vw;
        height: 30vh;
        margin-bottom: 20px;
    }
    /* Rodapé */
    .rodape_secao{
        display: block;
    }
    .rodape_introducao h2{
        margin-bottom: 15px;
        margin-left: 5px;
    }
    .rodape_introducao p{
        padding: 10px;
    }
    .desktop{
        display: none;
    }
    .mobile{ 
        display: inline-block;
        padding-left: 10px;
        text-align: justify;
    }
    .rodape_redesSociais h2{
        padding: 5px;
        margin-top: 50px;
    }
    .rodape_redesSociais p{
        padding: 10px;
        text-align: justify;
    }
    .rodape_icone{
        margin-left: 10px;
    }
    .rodape_icone:focus{
        outline: none;
    }
    .rodape_endereco h2{
        padding: 5px;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    .rodape_endereco p{
        padding-left: 10px;
        text-align: justify;
        margin-bottom: 50px;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 30px;
        font-size: 1.1rem;
    }  
}
@media (min-width: 768px) and (max-width: 999px){
    .conteudo{
        width: 90%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #aaa;
        background-color: #ccc;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .conteudo_apresentação{
        display: flex;
        width: 30%;
    }
    .apresentacao-titulo{
        font-family: 'Padauk', sans-serif;
        font-size: 1.7rem;
        padding-top: 50px;
        text-decoration: underline #ffa500;
        padding-left: 10px;
    }
    .apresentacao-paragrafo{
        font-family: 'Padauk', sans-serif;
        font-size: 1.2rem;
        text-align: justify;
        padding: 20px 0px 20px 0px;
        width: 90%;
        line-height: 1.5;
        padding-left: 10px;
    }
    .conteudo_foto{
        display: flex;
        align-items: center;
        width: 40%;
    }
    .imagem-profile{
        border-radius: 40%;
        margin-right: 10px;
        width: 250px;
        height: 350px;
    }
    /* RODAPE */
    .rodape{
        background-color: #ff7040;
        color: #fff;
        padding: 50px 0px 30px 0px;
    }
    .rodape_secao{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .rodape_introducao{
        display: flex;
        flex-direction: column;
        width: 32%;
    }
    .rodape_introducao h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    .mobile{
        display: block;
        padding-left: 5px;
        text-align: left;
    }
    .desktop{
        display: none;
    }
    .rodape_redesSociais{
        width: 32%;
    }
    .rodape_redesSociais h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_redesSociais p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .icone_facebook{
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 6px;
    }
    .icone_linkedin{
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 6px;
    }
    .icone_instagram{
        margin-top: 5px;
        margin-right: 6px;
    }
    .icone_github{
        margin-top: 5px;
        margin-left: 6px;
    }
    .rodape_icone{
        width: 20px;
        height: 30px;
        background-color: #eee;
        border-radius: 70%;
    }
    .icone_facebook:hover{
        transform: scale(1.1);
    }
    .icone_linkedin:hover{
        transform: scale(1.1);
    }
    .icone_instagram:hover{
        transform: scale(1.1);
    }
    .icone_github:hover{
        transform: scale(1.1);
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_endereco p{
        font-size: 1.1rem;
        line-height: 1.15;
        font-style: italic;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 50px;
        font-size: 1.1rem;
    }
    
}
@media (min-width: 1000px) and (max-width:1300px){
    .conteudo{
        width: 90%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #aaa;
        background-color: #ccc;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .conteudo_apresentação{
        display: flex;
        width: 50%;
    }
    .apresentacao-titulo{
        font-family: 'Padauk', sans-serif;
        font-size: 1.7rem;
        padding-top: 50px;
        text-decoration: underline #ffa500;
        padding-left: 10px;
    }
    .apresentacao-paragrafo{
        font-family: 'Padauk', sans-serif;
        font-size: 1.2rem;
        text-align: justify;
        padding: 20px 0px 20px 0px;
        width: 90%;
        line-height: 1.5;
        padding-left: 10px;
    }
    .conteudo_foto{
        display: flex;
        width: 50%;
    }
    .imagem-profile{
        border-radius: 50%;
        margin-right: 10px;
    }
    /* Rodapé */
    .rodape{
        background-color: #ff7040;
        color: #fff;
        padding: 50px 0px 30px 0px;
    }
    .rodape_secao{
        display: flex;
        justify-content: space-around;
    }
    .rodape_introducao h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    .mobile{
        display: inline-block;
        padding-left: 5px;
    }
    .desktop{
        display: none;
    }
    .rodape_redesSociais h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_redesSociais p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .icone_facebook{
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 6px;
    }
    .icone_linkedin{
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 6px;
    }
    .icone_instagram{
        margin-top: 5px;
        margin-right: 6px;
    }
    .icone_github{
        margin-top: 5px;
        margin-left: 6px;
    }
    .rodape_icone{
        width: 20px;
        height: 30px;
        background-color: #eee;
        border-radius: 70%;
    }
    .icone_facebook:hover{
        transform: scale(1.1);
    }
    .icone_linkedin:hover{
        transform: scale(1.1);
    }
    .icone_instagram:hover{
        transform: scale(1.1);
    }
    .icone_github:hover{
        transform: scale(1.1);
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_endereco p{
        font-size: 1.1rem;
        line-height: 1.15;
        font-style: italic;
        padding-right: 5px;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 50px;
        font-size: 1.1rem;
    }
}