@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
/* Cabecalho */
.cabecalho{
    height: 50px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-attachment: fixed;
    border-bottom: 1px solid #000;
}
/* Cabecalho logo */
.cabecalho_menu-logo{
    width: 30%;
}
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-items{
    display: flex;
    width: 50%;
    height: 100%;
}
.cabecalho_menu-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.3rem;
    transition: ease-in-out 0.2s;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.05);
}
/* Cabecalho login */
.cabecalho_menu-login{
    width: 20%;
}
#btnSingUP{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
#btnSingUP:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.446);
}
#btnSingUP:focus{
    outline: none;
}
#btnSingIN{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
#btnSingIN:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.446);
}
#btnSingIN:focus{
    outline: none;
}
.cabecalho_sidebar{
    display: none;
}

/* Conteudo do site */
/* Apresentação */
.conteudo_apresentacao{
    width: 100%;
    height: 700px;
    background-image: url(imagens/imagens-de-fundo/apresentacao/imagem-apresentação-1000.png);
    background-size: 1300px;
    position: relative;
}
.conteudo_apresentacao-mobile{
    display: none;   
}
.cabecalho_menu-lateral{
    display: none;
}
/* introdução */
.conteudo_introducao{
    height: 400px;
    background-color: lightblue;
}
.conteudo_introducao h2{
    text-align: center;
    padding-top: 70px;
    font-size: 1.5rem;
    color: #00f;
}
.conteudo_introducao span{
    display: block;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 1.9rem;
    font-family: cursive;
}
.introducao_sessao{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introducao_sessao p{
    background-color: #f5f5f5;
    height: 100px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgb(140, 170, 179);
}
.introducao_sessao i{
    color: #ff7040;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 10px 0px 10px 0px;
}
.introducao_sessao span{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    font-weight: bold;
    text-align: center;
}
/* Conteúdo */
.conteudo_titulo{
    font-size: 1.6rem;
    text-align: center;
    background-color: #a52a2a;
    padding-top: 80px;
    color: #eee;
    border-bottom: 0.2px solid #aaa;
    padding-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}
.conteudo_conteudos{
    padding-top: 50px;
    width: 100%;
    height: 1450px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
    background-color: #a52a2a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    width: 400px;
    height: 250px;
    margin: auto;
    border-radius: 30px  30px 0px 0px;
    cursor: pointer;
}
#item:hover{
    border: 2px solid #0ff;
}
.imagem-item-desktop{
    border-radius: 30px;
}
.imagem-item-mobile{
    display: none;
}
.titulo-item{
    transform: translateY(-40px);
    text-align: center;
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
}
/* Questões */
.conteudo_questoes{
    padding-top: 20px;
    width: 100%;
    height: 800px;
    background-image: url(imagens/imagens-de-fundo/fundo-questoes/imagemFundo-questões-1600.png);
}
.questoes-titulo{
    font-size: 1.9rem;
    font-family: 'Source Code Pro', monospace;
    padding: 40px;
}
.btnquestao{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    background: linear-gradient(to right, #0085FF, #00f);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    margin-left: 50px;
}
.btnquestao:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btnquestao:focus{
    outline: none;
}
#qstGreciaAntiga{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstRomaAntiga{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstPrimeiraGuerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstSegundaGuerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstGuerraFria{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstRevolucoesIndustriais{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
#qstGrandesNavegacoes{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
/* Rodapé */
.rodape{
    background-color: #ff7040;
    color: #fff;
    padding: 50px 0px 30px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-around;
}
.rodape_introducao h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.mobile{
    display: none;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_redesSociais p{
    font-size: 1.1rem;
    line-height: 1.15;
}
.icone_facebook{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_linkedin{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_instagram{
    margin-top: 5px;
    margin-right: 6px;
}
.icone_github{
    margin-top: 5px;
    margin-left: 6px;
}
.rodape_icone{
    width: 20px;
    height: 30px;
    background-color: #eee;
    border-radius: 70%;
}
.icone_facebook:hover{
    transform: scale(1.1);
}
.icone_linkedin:hover{
    transform: scale(1.1);
}
.icone_instagram:hover{
    transform: scale(1.1);
}
.icone_github:hover{
    transform: scale(1.1);
}
.rodape_endereco h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_endereco p{
    font-size: 1.1rem;
    line-height: 1.15;
    font-style: italic;
}
.rodape_copy{
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
}

    /* MEDIAS QUERIES */
    @media(max-width: 767px){
        /* inicio do cabeçalho */
        .cabecalho{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 100%;
            height: 40px;
        }
        .cabecalho_menu-items{
            display: none;
        }
        /* MENU LATERAL */
        .cabecalho_sidebar{
            width: 45%;
            display: flex;
            height: 100%;
            z-index: 1;
        }
        .sidebar{
            display: flex;
            position: fixed;
            left: -250px;
            width: 250px;
            background-color: #042331;
            height: 100%;
            transition: ease-in-out 0.5s;
        }
        .sidebar header{
            text-align: center;
            font-size: 1.5rem;
            color: #fff;
            padding: 30px;
            background-color: #063146;
        }
        .sidebar ul{
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 20px;
        }
        .sidebar ul a{
            display: block;
            color: #fff;
            height: 100%;
            width: 100%;
            text-align: left;
            padding-left: 40px;
            line-height: 60px;
            box-sizing: border-box;
            border-top: 1px solid rgb(200, 200, 200, 0.5);
            border-bottom: 1px solid #000;
            transition: ease-in-out 0.3s;
        }
        .sidebar li:hover a{
            padding-left: 50px;
        }
        .sidebar ul li i{
            margin-right: 10px;
        }
        #check{
            display: none;
        }
        label #btn, label #cancel{
            display: flex;
            align-items: center;
            position: absolute;
            cursor: pointer;
        }
        label #btn{
            top: 25px;
            left: 25px;
            color: #000;
            font-size: 26px;
        }
        label #cancel{
            z-index: 1111;
            left: -35px;
            top: 20px;
            font-size: 22px;
            border: 2px solid #000;
            color: #f00;
            padding: 5px;
        }
        #check:checked ~ .sidebar{
            transition: ease-in-out 0.5s;
            transform: translateX(250px);
        }
        #check:checked ~ label #btn{
            left: 250px;
            opacity: 0;
            pointer-events: none;
        }
        #check:checked ~ label #cancel{
            position: fixed;
            transition: ease-in-out 0.5s;
            left: 30px;
        }    
        .sidebar ul li a:checked ~ .sidebar{
            left: -250px;
        }
        /* LOGO */
        .cabecalho_menu-logo{
            width: 55%;
        }
        .cabecalho_menu-logo--imagem{
            width: 160px;
            height: 60px;
            margin-left: 0px;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            display: none;
        }
        /* LOGIN */
        .cabecalho_menu-login{
            display: none;
        }
        /* CONTEUDO APRESENTAÇÃO */
        .conteudo{
            width: 100%;
        }
        .conteudo_apresentacao{
            display: none;
            width: 100%;
        }
        .conteudo_apresentacao-mobile{
            display: block;
            padding: 5px;
            background-color: #feefd0;
        }
        .apresentacao-titulo{
            font-size: 1.6rem;
            font-family: 'Source Code Pro', monospace;
            margin-top: 30px;
        }
        .circGradient{
            width: 150px;
            height: 150px;
            position: relative;
            background: linear-gradient(to right, rgba(0, 255, 0, 0.13), #0084ff3a);
            border-radius: 50%;
            animation: 20s myanimation infinite;
            transform: translateY(40px);
        }
        @keyframes myanimation {
            from{left: 0px}
            to{left: 150px}
        }
        .apresentacao-paragrafo{
            font-size: 1.1rem;
            font-family: 'Source Code Pro', monospace;
            text-align: justify;
            padding-top: 15px;
            transform: translate(0px, -120px);
            line-height: 1.5;
        }
        /* introdução */
        .conteudo_introducao{
            height: 600px;
        }
        .conteudo_introducao h2{
            padding-top: 100px;
            font-size: 1.3rem;
        }
        .conteudo_introducao span{
            font-size: 1.6rem;
        }
        .introducao_sessao{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }
        .introducao_sessao p{
            background-color: #f5f5f5;
            height: 100px;
            width: 150px;
            padding: 10px;
            margin: auto;
            border-radius: 20px;
            box-shadow: 2px 2px 6px rgb(140, 170, 179);
            margin-top: 20px;
        }
        .introducao_sessao span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.05rem;
            font-weight: bold;
        }
        /* CONTEÚDO CONTEÚDOS */
        .conteudo_conteudos{
            padding-top: 50px;
            height: 1700px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
            background-color: #a52a2a;
            display: flex;
            flex-direction: column;
        }
        .imagem-item-desktop{
            display: none;
        }
        .imagem-item-mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 30px 30px 0px 0px;
        }
        .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
            width: 250px;
            height: 150px;
            margin: auto;
            border-radius: 30px  30px 0px 0px;
            cursor: pointer;
        }
        .titulo-item{
            transform: translateY(-34px);
            text-align: center;
            background-color: #3d3d3d;
            color: #fff;
            padding: 10px;
            font-size: 1.1rem;
            width: 230px;
        }
        /* QUESTOES */
        .conteudo_questoes{
            background-image: none;
            height: 600px;
            background-repeat: no-repeat;
        }
        .questoes-titulo{
            text-align: center;
            font-size: 1.5rem;
        }
        .btnquestao{
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(to right, #0085FF, #00f);
            border-radius: 10px;
            color: #fff;
            align-items: center;
            font-size: 1.05rem;
            font-family: 'Times New Roman', Times, serif;
            border: none;
            margin: auto;
        }
         /* Rodapé */
        .rodape_secao{
            display: block;
        }
        .rodape_introducao h2{
            margin-bottom: 15px;
            margin-left: 5px;
        }
        .desktop{
            display: none;
        }
        .mobile{ 
            display: inline-block;
            padding: 0px 5px 0px 10px;
            text-align: justify;
        }
        .rodape_redesSociais h2{
            padding: 5px;
            margin-top: 50px;
        }
        .rodape_redesSociais p{
            padding: 10px;
            text-align: justify;
        }
        .rodape_icone{
            margin-left: 10px;
        }
        .rodape_icone:focus{
            outline: none;
        }
        .rodape_endereco h2{
            padding: 5px;
            margin-bottom: 15px;
            margin-top: 50px;
        }
        .rodape_endereco p{
            padding-left: 10px;
            text-align: justify;
            margin-bottom: 50px;
        }
        .rodape_copy{
            text-align: center;
            margin-top: 30px;
            font-size: 1.1rem;
        }         
    }  
    
    @media (min-width:768px) and (max-width: 800px){
        /* Cabecalho */
        .cabecalho{
            height: 60px;
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: row-reverse;
        }
        /* Cabecalho logo */
        .cabecalho_menu-logo{
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
        .cabecalho_menu-logo--imagem{
            width: 200px;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            display: none;
        }
        /* Cabecalho login */
        .cabecalho_menu-login{
            display: none;
        }
        /* MENU LATERAL */
        .cabecalho_sidebar{
            display: flex;
            width: 60%;
            height: 100%;
        }
        .sidebar{
            display: flex;
            position: fixed;
            left: -250px;
            width: 250px;
            background-color: #042331;
            height: 100%;
            transition: ease-in-out 0.5s;
            z-index: 1;
        }
        .sidebar header{
            text-align: center;
            font-size: 1.5rem;
            color: #fff;
            padding: 30px;
            background-color: #063146;
        }
        .sidebar ul{
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 20px;
        }
        .sidebar ul a{
            display: block;
            color: #fff;
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 60px;
            box-sizing: border-box;
            border-top: 1px solid rgb(200, 200, 200, 0.5);
            border-bottom: 1px solid #000;
            transition: ease-in-out 0.3s;
        }
        .sidebar li:hover a{
            padding-left: 10px;
        }
        .sidebar ul li i{
            margin-right: 10px;
        }
        #check{
            display: none;
        }
        label #btn, label #cancel{
            display: flex;
            align-items: center;
            position: absolute;
            cursor: pointer;
        }
        label #btn{
            top: 30px;
            left: 25px;
            color: #000;
            font-size: 28px;
        }
        label #cancel{
            z-index: 1111;
            left: -30px;
            top: 20px;
            font-size: 20px;
            border: 2px solid #000;
            color: #f00;
            padding: 5px;
        }
        #check:checked ~ .sidebar{
            transition: ease-in-out 0.5s;
            transform: translateX(250px);
        }
        #check:checked ~ label #btn{
            left: 250px;
            opacity: 0;
            pointer-events: none;
        }
        #check:checked ~ label #cancel{
            position: fixed;
            transition: ease-in-out 0.5s;
            left: 20px;
        }    
        /* Conteudo do site */
        /* Apresentação */
        .conteudo_apresentacao{
            width: 100%;
            height: 400px;
            background-image: url(imagens/imagens-de-fundo/apresentacao/imagem-apresentação-800.png);
            background-size: auto;
            position: relative;
            z-index: -1;
        }
        .conteudo_apresentacao-mobile{
            display: none;   
        }
        /* Conteudo */
        .conteudo_conteudos{
            padding-top: 50px;
            height: 1000px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
            background-color: #a52a2a;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .imagem-item-desktop{
            display: none;
        }
        .imagem-item-mobile{
            display: grid;
            margin: auto;
            border-radius: 30px 30px 0px 0px;
        }
        .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
            width: 250px;
            height: 150px;
            margin: auto;
            border-radius: 30px  30px 0px 0px;
            cursor: pointer;
        }
        .titulo-item{
            transform: translateY(-37px);
            text-align: center;
            background-color: #3d3d3d;
            color: #fff;
            padding: 10px;
            font-size: 1.1rem;
            width: 230px;
        }
        /* Questões */
        .conteudo_questoes{
            background-image: url(imagens/imagens-de-fundo/fundo-questoes/imagemFundo-questões-1200.png);
            background-repeat: no-repeat;
        }
        /* Rodapé */
        .rodape_secao{
            display: block;
        }
        .rodape_introducao h2{
            margin-bottom: 15px;
            margin-left: 5px;
        }
        .desktop{
            display: none;
        }
        .mobile{ 
            display: inline-block;
            padding: 0px 5px 0px 10px;
            text-align: justify;
        }
        .rodape_redesSociais h2{
            padding: 5px;
            margin-top: 50px;
        }
        .rodape_redesSociais p{
            padding: 10px;
            text-align: justify;
        }
        .rodape_icone{
            margin-left: 10px;
        }
        .rodape_icone:focus{
            outline: none;
        }
        .rodape_endereco h2{
            padding: 5px;
            margin-bottom: 15px;
            margin-top: 50px;
        }
        .rodape_endereco p{
            padding-left: 10px;
            text-align: justify;
            margin-bottom: 50px;
        }
        .rodape_copy{
            text-align: center;
            margin-top: 30px;
            font-size: 1.1rem;
        }         
    }

    @media(min-width:780px) and (max-width:950px){
        /* Cabecalho */
        .cabecalho{
            height: 60px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
            flex-direction: row-reverse;
        }
        .cabecalho_menu{
            width: 100%;
            display: flex;
            align-items: center;
        }
        /* Cabecalho logo */
        .cabecalho_menu-logo{
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
        .cabecalho_menu-logo--imagem{
            margin-left: 0px;
            width: 200px;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            display: flex;
            width: 70%;
            justify-content: space-evenly;
        }
        .cabecalho_menu-items--lista{
            width: 100%;
            justify-content: center;
        }
        .cabecalho_menu-items--lista a{
            font-size: 1.1rem;
        }
        /* Cabecalho login */
        .cabecalho_menu-login{
            display: none;
        }
        /* Conteudo do site */
        /* Apresentação */
        .conteudo_apresentacao{
            width: 100%;
            height: 500px;
            background-image: url(imagens/imagens-de-fundo/apresentacao/imagem-apresentação-900.png);
            background-size: auto;
            position: relative;
            z-index: -1;
        }
        .conteudo_apresentacao-mobile{
            display: none;   
        }
        /* Conteudo */
        .conteudo_conteudos{
            padding-top: 50px;
            height: 1000px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
            background-color: #a52a2a;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .imagem-item-desktop{
            display: none;
        }
        .imagem-item-mobile{
            display: grid;
            margin: auto;
            border-radius: 30px 30px 0px 0px;
            width: 300px;
            height: 200px;
        }
        .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
            width: 300px;
            height: 200px;
            margin: auto;
            border-radius: 30px  30px 0px 0px;
            cursor: pointer;
        }
        .titulo-item{
            transform: translateY(-37px);
            text-align: center;
            background-color: #3d3d3d;
            color: #fff;
            padding: 10px;
            font-size: 1.1rem;
            width: 280px; /* 20px a menos que o width do item */
        }
        /* QUESTOES */
        .conteudo_questoes{
            background-image: url(imagens/imagens-de-fundo/fundo-questoes/imagemFundo-questões-1400.png);
            background-repeat: no-repeat;
        }
        /* RODAPE */
        .rodape_introducao{
            padding-left: 10px;
            width: 50%;
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: inline-block;
            text-align: justify;
            width: 80%;
        }
        .rodape_redesSociais p{
            display: inline-block;
            width: 90%;
        }
    }

    @media(min-width: 951px) and (max-width: 1200px){
        /* CABECALHO */
        .cabecalho{
            height: 60px;
            display: flex;
            align-items: center;
            width: 100%;
        }
        .cabecalho_menu{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* Cabecalho logo */
        .cabecalho_menu-logo{
            width: 30%;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            width: 50%;
            height: 100%;
        }
        .cabecalho_menu-lista{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .cabecalho_menu-items--lista{
            display: flex;
            padding-right: 30px;
        }
        .cabecalho_menu-items--lista a{
            color: #fff;
            font-size: 1.1rem;
        }
        /* Cabecalho login */
        .cabecalho_menu-login{
            width: 20%;
        }
        .btnSingIN{
            font-size: 1.05rem;
            padding: 8px;
            border-radius: 15px;
        }
        .btnSignUP{
            font-size: 1.05rem;
            padding: 8px;
            border-radius: 15px;
        }
        /* Conteudo do site */
        /* Apresentação */
        .conteudo_apresentacao{
            width: 100%;
            height: 550px;
            background-image: url(imagens/imagens-de-fundo/apresentacao/imagem-apresentação-1000.png);
            background-size: 1150px;
            position: relative;
        }
        .conteudo_apresentacao-mobile{
            display: none;   
        }
        .cabecalho_menu-lateral{
            display: none;
        }
        /* QUESTOES */
        .conteudo_questoes{
            background-image: url(imagens/imagens-de-fundo/fundo-questoes/imagemFundo-questões-1600.png);
            background-repeat: no-repeat;
        }
        /* RODAPE */
        .rodape_introducao{
            width: 40%;
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: inline-block;
        }
        .rodape_redesSociais{
            width: 25%;
            margin-right: 10px;
        }
        .rodape_endereco{
            width: 25%;
        }
    }
