@charset "utf-8";

html{
    scroll-behavior: smooth;
}
/* Cabecalho */
.cabecalho{
    height: 60px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-attachment: fixed;
}
.cabecalho_menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Cabecalho logo */
.cabecalho_menu-logo{
    width: 30%;
}
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-items{
    width: 50%;
    height: 100%;
}
.cabecalho_menu-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.3rem;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.1);
}
/* Cabecalho login */
.cabecalho_menu-login{
    width: 20%;
}
.btnSingIN{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSingIN:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}
.btnSingIN:focus{
    outline: none;
}
.btnSignUP{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSignUP:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}
.btnSignUP:focus{
    outline: none;
}
/* Conteudo do site */
/* Apresentação */
.conteudo_apresentacao{
    width: 100%;
    height: 700px;
    background-image: url(imagens/imagens-de-fundo/apresentacao/imagem-apresentação-1000.png);
    background-size: 1300px;
    position: relative;
}
.conteudo_apresentacao-mobile{
    display: none;   
}
/* Conteúdo */
.conteudo_titulo{
    font-size: 1.6rem;
    text-align: center;
    background-color: #a52a2a;
    padding-top: 80px;
    color: #eee;
    border-bottom: 0.2px solid #aaa;
    padding-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}
.conteudo_conteudos{
    padding-top: 50px;
    width: 100%;
    height: 1450px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
    background-color: #a52a2a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    width: 400px;
    height: 250px;
    margin: auto;
    border-radius: 30px  30px 0px 0px;
    cursor: pointer;
}
#item:hover{
    border: 2px solid #0ff;
}
.imagem-item-desktop{
    border-radius: 30px;
}
.imagem-item-mobile{
    display: none;
}
.titulo-item{
    transform: translateY(-40px);
    text-align: center;
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
}
/* Questões */
.conteudo_questoes{
    padding-top: 20px;
    width: 100%;
    height: 800px;
    background-image: url(imagens/imagens-de-fundo/fundo-questoes/imagemFundo-questões-1600.png);
}
.questoes-titulo{
    font-size: 1.9rem;
    font-family: 'Source Code Pro', monospace;
    padding: 40px;
}
summary{
    display: flex;
    background: linear-gradient(45deg, #0085FF, #a52a2a);
    height: 30px;
    align-items: center;
    width: 400px;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    font-size: 1.2rem;
    transform: translateX(70px);
}
summary:focus{
    outline: none;
}
.qstGrecia{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstRoma{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qst1guerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qst2guerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstGuerrafria{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstRevolucoesIndustriais{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstGrandesNavegacoes{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}

/* Rodapé */
.secao_rodape{
    height: 300px;
    background-color: #ff7040;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
/* introdução */
.rodape_introducao{
    border-right: 2px solid #0ff;
    width: 35%;
    transform: translateX(30px);
}
.introducao-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.introducao-paragrafo{
    line-height: 1.5;
    color: #fff;
    font-size: 1.1rem;
    width: 400px;
    padding-top: 10px;
    text-align: justify;
}
/* Redes sociais */
.rodape_sociais{
    transform: translateY(-3px) translateX(60px);
    width: 35%;
}
.sociais-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.sociais-paragrafo{
    line-height: 1.5;
    color: #fff;
    font-size: 1.1rem;
    width: 400px;
    padding-top: 8px;
    margin-bottom: 5px;
}
.sociais-icone{
    height: 50px;
    width: 50px;
    border-radius: 60%;
    background-color: #eee;
    margin-left: 5px;
}

/* endereço */
.rodape_endereco{
    width: 30%;
    padding-left: 50px;
    border-left: 2px solid #0ff;
}
.endereco-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.endereco-paragrafo{
    width: 300px;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.1;
    padding-top: 10px;
}
/* Copyright */
.rodape_copy{
    background-color: #ff7040;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    height: 40px;
}

/* MEDIAS QUERIES */
    @media (max-width: 768.98px){
        /* Cabecalho */
        .cabecalho{
            height: 60px;
            background-color: #0085FF;
            display: block;
            width: 100%;
        }
        .cabecalho_menu{
            display: block;
            width: 100%;
        }
        /* Cabecalho logo */
        .cabecalho_menu-logo{
            display: block;
        }
        .cabecalho_menu-logo--imagem{
            margin: auto;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            display: block;
            background-color: #943b3b;
            border-bottom: 1px solid #fff;
            width: 100%;
        }
        .cabecalho_menu-lista{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 30px;
            width: 100%;
        }
        .cabecalho_menu-items--lista{
            padding: 0;
        }
        .cabecalho_menu-items--lista a{
            color: #fff;
            font-size: 1.1rem;
        }
        .cabecalho_menu-items--lista a:hover{
            transform: scale(1.1);
        }
        /* LOGIN */
        .cabecalho_menu-login{
            display: none;
        }
        /* CONTEUDO APRESENTAÇÃO */
        body{
            overflow: auto;
        }
        .conteudo{
            width: 100%;
        }
        .conteudo_apresentacao{
            display: none;
            width: 100%;
        }
        .conteudo_apresentacao-mobile{
            display: block;
            padding: 5px;
            background-color: #feefd0;
            margin-top: 7px;
        }
        .apresentacao-titulo{
            font-size: 1.6rem;
            font-family: 'Source Code Pro', monospace;
            margin-top: 30px;
        }
        .circGradient{
            width: 150px;
            height: 150px;
            position: relative;
            background: linear-gradient(to right, rgba(0, 255, 0, 0.13), #0084ff3a);
            border-radius: 50%;
            animation: 20s myanimation infinite;
            transform: translateY(40px);
        }
        @keyframes myanimation {
            from{left: 0px}
            to{left: 100px}
        }
        .apresentacao-paragrafo{
            font-size: 1.1rem;
            font-family: 'Source Code Pro', monospace;
            text-align: justify;
            padding-top: 15px;
            transform: translate(0px, -120px);
            line-height: 1.5;
        }
        /* CONTEÚDO CONTEÚDOS */
        .conteudo_conteudos{
            padding-top: 50px;
            height: 1700px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
            background-color: #a52a2a;
            display: flex;
            flex-direction: column;
        }
        .imagem-item-desktop{
            display: none;
        }
        .imagem-item-mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 30px 30px 0px 0px;
        }
        .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
            width: 250px;
            height: 150px;
            margin: auto;
            border-radius: 30px  30px 0px 0px;
            cursor: pointer;
        }
        .titulo-item{
            transform: translateY(-37px);
            text-align: center;
            background-color: #3d3d3d;
            color: #fff;
            padding: 10px;
            font-size: 1.1rem;
            width: 230px;
        }
        /* QUESTOES */
        .conteudo_questoes{
            background-image: none;
            height: 600px;
            background-repeat: no-repeat;
        }
        .questoes-titulo{
            text-align: center;
            font-size: 1.5rem;
        }
        summary{
            width: 200px;
            margin: auto;
            font-size: 1.1rem;
            padding: 5px;
        }
        summary::-webkit-details-marker{
            display: none;
        }
        /* RODAPÉ */
       /* Rodapé */
       .rodape{
           display: block;
       }
        .secao_rodape{
            height: auto;
            background-color: #ff7040;
            display: block;
        }
        /* introdução */
        .rodape_introducao{
            padding-top: 20px;
            border: none;
            transform: translateX(0px);
        }
        .introducao-titulo{
            margin: 30px 0px 5px 5px;
            color: #fff;
            font-size: 1.5rem;
        }
        .introducao-paragrafo{
            padding-left: 5px;
            text-align: justify;
        }
        /* Redes sociais */
        .rodape_sociais{
            transform: translateY(0px) translateX(0px);
        }
        .sociais-titulo{
            padding-left: 5px;
            margin-top: 50px;
        }
        .sociais-paragrafo{
            padding-left: 5px;
            text-align: justify;
        }
        #icone1{
            padding-left: 5px;
        }
        .sociais-icone{
            height: 35px;
            width: 35px;
            border-radius: none;
            background-color: #ff7040;
            padding-left: 5px;
        }
        /* ENDEREÇO */
        .rodape_endereco{
            padding: 0;
            border-left: none;
        }
        .endereco-titulo{
            color: #fff;
            font-size: 1.5rem;
            padding-left: 5px;
            margin-top: 10px;
            margin-top: 50px;
        }
        .endereco-paragrafo{
            color: #fff;
            font-size: 1.1rem;
            line-height: 1.5;
            padding-left: 5px;
        }
        /* Copyright */
        .rodape_copy{
            background-color: #ff7040;
            display: block;
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            height: 40px;
            padding-top: 20px;
        }
    }   