@charset "utf-8";

/* Cabecalho */
.cabecalho{
    height: 60px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-attachment: fixed;
}
.cabecalho_menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Cabecalho logo */
.cabecalho_menu-logo{
    width: 30%;
}
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-items{
    width: 50%;
    height: 100%;
}
.cabecalho_menu-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.2rem;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.1);
}
/* Cabecalho login */
.cabecalho_menu-login{
    width: 20%;
}
.btnSingIN{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSingIN:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}
.btnSignUP{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSignUP:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}

/* Conteudo do site */
/* Apresentação */
.conteudo_apresentacao{
    width: 100%;
    height: 600px;
    background-image: url(imagens/imagens-de-fundo/imagem-apresentação-full.png);
    position: relative;
}
.paragrafo_apresentacao{
    color: #aaa;
    font-size: 1.5rem;
    position: absolute;
    transform: translateY(300px) translateX(100px);
    font-weight: bold;
    width: 600px;
    text-align: justify;
}
/* Conteúdo */
.conteudo_titulo{
    font-size: 1.6rem;
    text-align: center;
    background-color: #a52a2a;
    padding-top: 80px;
    color: #eee;
    border-bottom: 0.2px solid #aaa;
    padding-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}
.conteudo_conteudos{
    padding-top: 50px;
    width: 100%;
    height: 1450px;  /* Ao adicionar mais uma div na coluna, adicionar 300 px aqui para manter a ordem. */
    background-color: #a52a2a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    width: 400px;
    height: 250px;
    background-color: #0085FF;
    margin: auto;
    border-radius: 30px  30px 0px 0px;
    cursor: pointer;
}
#item:hover{
    border: 2px solid #0ff;
}
.imagem-item{
    border-radius: 30px;
}
.titulo-item{
    transform: translateY(-40px);
    text-align: center;
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
}
/* Questões */
.conteudo_questoes{
    padding-top: 20px;
    width: 100%;
    height: 800px;
    background-image: url(imagens/imagens-de-fundo/imagemFundo-questões-full.png);
}
.questoes-titulo{
    font-size: 1.9rem;
    font-family: 'Source Code Pro', monospace;
    padding: 40px;
}
summary{
    display: flex;
    background: linear-gradient(45deg, #0085FF, #a52a2a);
    height: 30px;
    align-items: center;
    width: 400px;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    font-size: 1.2rem;
    transform: translateX(70px);
}
.qstGrecia{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstRoma{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qst1guerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qst2guerra{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstGuerrafria{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstRevolucoesIndustriais{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}
.qstGrandesNavegacoes{
    margin-bottom: 15px;  /* Só pra dar espaço entre os details */
}

/* Rodapé */
.secao_rodape{
    height: 300px;
    background-color: #ff7040;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
/* introdução */
.rodape_introducao{
    border-right: 2px solid #0ff;
    width: 35%;
    transform: translateX(30px);
}
.introducao-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.introducao-paragrafo{
    line-height: 1.5;
    color: #fff;
    font-size: 1.1rem;
    width: 400px;
    padding-top: 10px;
    text-align: justify;
}
/* Redes sociais */
.rodape_sociais{
    transform: translateY(-3px) translateX(60px);
    width: 35%;
}
.sociais-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.sociais-paragrafo{
    line-height: 1.5;
    color: #fff;
    font-size: 1.1rem;
    width: 400px;
    padding-top: 8px;
    margin-bottom: 5px;
}
.sociais-icone{
    height: 50px;
    width: 50px;
    border-radius: 60%;
    background-color: #eee;
    margin-left: 5px;
}

/* endereço */
.rodape_endereco{
    width: 30%;
    padding-left: 50px;
    border-left: 2px solid #0ff;
}
.endereco-titulo{
    color: #fff;
    font-size: 1.5rem;
}
.endereco-paragrafo{
    width: 300px;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.1;
    padding-top: 10px;
}
/* Copyright */
.rodape_copy{
    background-color: #ff7040;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    height: 40px;
}

/* MEDIAS QUERIES */
    @media(min-width: 450px) and (max-width: 600px){
        .conteudo_apresentacao{

        }
        .paragrafo_apresentacao{
            font-size: 1.05rem;
            transform: translateX(20px) translateY(100px);
            width: 165px;
        }
    }

    @media (min-width: 900px) and (max-width: 1000px){
        /* Cabeçalho */
        .cabecalho{
            height: 100px;
            display: block;
        }
        .cabecalho_menu{
            display: block;
        }
        .cabecalho_menu-logo{
            display: block;
            background-color: #0085FF;
            height: 60px;
            margin-left: 20px;
        }
        /* Cabecalho navbar */
        .cabecalho_menu-items{
            display: flex;
            background-color: #a52a2a;
            width: 100%;
            height: 40px;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cabecalho_menu-lista{
            display: flex;
        }
        .cabecalho_menu-items--lista{

            padding-right: 30px;
        }
        .cabecalho_menu-items--lista a{
            color: #fff;
            font-size: 1.2rem;
        }
        .cabecalho_menu-items--lista a:hover{
            transform: scale(1.1);
        }
        /* cabeçalho login */
        .cabecalho_menu-login{
            display: inline-block;
            width: auto;
        }
        .btnSingIN{
            font-size: 1.2rem;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            background-color: #00f;
            color: #fff;
            border: none;
            cursor: pointer;
            transform: translateX(700px) translateY(-110px);
        }
        .btnSingIN:hover{
            background-color: #eee;
            color: #00f;
            box-shadow: 0.5px 0.5px 5px #000;
        }
        .btnSignUP{
            font-size: 1.2rem;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            background-color: #00f;
            color: #fff;
            border: none;
            cursor: pointer;
            transform: translateX(710px) translateY(-110px);
        }
        .btnSignUP:hover{
            background-color: #eee;
            color: #00f;
            box-shadow: 0.5px 0.5px 5px #000;
        }

        /* Conteudo apresentação */
        .conteudo_apresentacao{
            background-image: url(imagens/imagens-de-fundo/imagem-apresentação-m.png);
            background-repeat: no-repeat;
            height: 530px;
            width: 100%;
        }
        .paragrafo_apresentacao{
            color: #aaa;
            font-size: 1.5rem;
            position: absolute;
            transform: translateY(220px) translateX(80px);
            width: 450px;
        }
        /* Rodapé */
        .secao_rodape{
            height: 300px;
            background-color: #ff7040;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
        /* introdução */
        .rodape_introducao{
            border-right: 1px solid #0ff;
            width: 45%;
            transform: translateX(20px);
        }
        .introducao-titulo{
            color: #fff;
            font-size: 1.4rem;
        }
        .introducao-paragrafo{
            line-height: 1.3;
            color: #fff;
            font-size: 1.1rem;
            width: 300px;
            padding-top: 10px;
            text-align: justify;
            margin-right: 10px;
        }
        /* Redes sociais */
        .rodape_sociais{
            transform: translateX(35px);
            width: 35%;
        }
        .sociais-titulo{
            color: #fff;
            font-size: 1.3rem;
        }
        .sociais-paragrafo{
            line-height: 1.5;
            color: #fff;
            font-size: 1.1rem;
            width: 300px;
            padding-top: 8px;
            margin-bottom: 5px;
            margin-right: 10px;
        }
        .sociais-icone{
            height: 50px;
            width: 50px;
            border-radius: 60%;
            background-color: #eee;
            margin-left: 5px;
        }

        /* endereço */
        .rodape_endereco{
            margin-right: 30px;
            width: 20%;
            border-left: 1px solid #0ff;
            height: 120px;
        }
        .endereco-titulo{
            color: #fff;
            font-size: 1.3rem;
        }
        .endereco-paragrafo{
            width: 200px;
            color: #fff;
            font-size: 1.1rem;
            line-height: 1.1;
            padding-top: 10px;
        }
        /* Copyright */
        .rodape_copy{
            background-color: #ff7040;
            display: block;
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            height: 40px;
        }
    }

    @media(min-width: 820px) and (max-width: 1070px){
        .conteudo_apresentacao{
            background-image: url(imagens/imagens-de-fundo/imagem-apresentação-m.png);
        }
        .paragrafo_apresentacao{
            transform: translateX(80px) translateY(210px);
            width: 450px;
        }
        /* Rodapé */
        .secao_rodape{
            height: 300px;
            background-color: #ff7040;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
        /* introdução */
        .rodape_introducao{
            border-right: 1px solid #0ff;
            width: 45%;
            transform: translateX(20px);
        }
        .introducao-titulo{
            color: #fff;
            font-size: 1.4rem;
        }
        .introducao-paragrafo{
            line-height: 1.3;
            color: #fff;
            font-size: 1.1rem;
            width: 300px;
            padding-top: 10px;
            text-align: justify;
            margin-right: 10px;
        }
        /* Redes sociais */
        .rodape_sociais{
            transform: translateX(35px);
            width: 35%;
        }
        .sociais-titulo{
            color: #fff;
            font-size: 1.3rem;
        }
        .sociais-paragrafo{
            line-height: 1.5;
            color: #fff;
            font-size: 1.1rem;
            width: 300px;
            padding-top: 8px;
            margin-bottom: 5px;
            margin-right: 10px;
        }
        .sociais-icone{
            height: 50px;
            width: 50px;
            border-radius: 60%;
            background-color: #eee;
            margin-left: 5px;
        }

        /* endereço */
        .rodape_endereco{
            margin-right: 30px;
            width: 20%;
            border-left: 1px solid #0ff;
            height: 120px;
        }
        .endereco-titulo{
            color: #fff;
            font-size: 1.3rem;
        }
        .endereco-paragrafo{
            width: 200px;
            color: #fff;
            font-size: 1.1rem;
            line-height: 1.1;
            padding-top: 10px;
        }
        /* Copyright */
        .rodape_copy{
            background-color: #ff7040;
            display: block;
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            height: 40px;
        }
    }