@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.logo{
    width: 20%;
}

.logo_image{
    padding-left: 40px;
    width: 100px;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 55%;
}

.navbar_list{
    display: flex;
    justify-content: center;
}

.navbar_list a{
    color: #000;
    transition: 0.2s ease-in-out color;
}

.navbar_list a:hover{
    color: #a52a2a;
}

.navbar_list_item{
    margin: 0px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    transition: 0.2s ease-in-out color;
}

.navbar_list_item:hover{
    color: #a52a2a;
}

.account{
    width: 25%;
    display: flex;
    justify-content: center;
}

.btn_account{
    width: 120px;
    background-color: #00f ;
    box-shadow: 3px 3px 6px rgba(141, 141, 141, 0.281);
    color: #fff;
    border: transparent;
    border-radius: 5px;
    outline: transparent;
    padding: 8px 10px;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: ease-in-out 0.2s background-color;
}

.btn_account:hover{
    background-color: rgb(3, 3, 190);
    cursor: pointer;
}

.sidebar{
    display: none;
}

.conteudo_banner{
    background-image: url(imagens/background-grecia.jpg);
    width: 1349px;
    height: 450px;
    margin-bottom: 2px;
}

.secao-conteudo{
    display: flex;
}

.conteudo_artigo{
    width: 60%;
    background-color: #f5f5f5;
    margin: 30px;
}

.conteudo_artigo h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9rem;
    text-decoration: underline #ff7040;
    color: #591730;
    padding: 60px 0px 20px 40px;
}

.conteudo_artigo p{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding-left: 50px;
    padding-bottom: 40px;
    width: 90%;
    text-align: justify;
}

.conteudo_artigo h2{
    font-size: 1.5rem;
    padding: 0px 0px 15px 40px;
    color: #591730;
}

.conteudo_artigo i{
    color: #008000;
}

.conteudo_artigo figure{
    width: 80%;
    height: 400px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}

.conteudo_artigo .mapa-grecia{
    display: flex;
    width: 90%;
    height: auto;
}

.conteudo_artigo figcaption{
    margin: auto;
    text-align: center;
    transform: translateY(-30px);
    display: block;
    background-color: #ddd;
    width: 80%;
    border-radius: 0px 0px 20px 20px;
    height: 25px;
    font-size: 1.07rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-bottom: 40px;
}

.artigo_mitologia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 900px; /* A CADA DOIS PERSONAGEM, ADICIONA MAIS 300px */
    margin: auto;
    margin-bottom: 50px;
}

.div_deus{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #ddd;
    padding: 5px;
    padding: 5px;
}

.txt p{
    font-size: 1.05rem;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

span{
    display: block;
}

.div_deus img{
    object-fit: cover;
}

.div_deus .zeus-img{
    display: flex;
    width: 85px;
    height: auto;
}

.div_deus .afrodite-img{
    display: flex;
    width: 75px;
    height: auto;
}

.div_deus .atena-img{
    display: flex;
    width: 75px;
    height: auto;
}

.div_deus .poseidon-img{
    display: flex;
    width: 100px;
    height: auto;
}

.div_deus .dionisio-img{
    display: flex;
    width: 125px;
    height: auto;
}

.div_deus .apolo-img{
    display: flex;
    width: 90px;
    height: auto;
}

.recomendado{
    margin: 30px;
    background-color: #f5f5f5;
    padding: 10px;
    height: 380px;
    border-radius: 10px;
}

.recomendado h2{
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 5px;
}

.recomendado ul{
    padding: 20px 0px;
}

.recomendado ul li{
    line-height: 2.5;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ff7040;
}

.recomendado ul a:hover{
    background-color: #eee;
}

.recomendado ul a li:hover{
    background-color: #eee;
}

.recomendado ul li{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rodape{
    background-color: #f9f9f9;
    height: 300px;
    display: flex;
    align-items: center;
    width: 100%;
}

.rodape .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape .text img{
    width: 170px;
}

.rodape .text p{
    width: 80%;
    margin-top: 0;
}

.rodape .text a{
    color: #a52a2a
}

.rodape .list{
    width: 25%;
}

.rodape .list ul{
    width: 80px;
}

.rodape .list li{
    font-size: 1rem;
    line-height: 2;
    width: 80px;
    color: #000;
    transition: 0.2s ease-in-out color;
}    

.rodape .list li:hover{
    cursor: pointer;
    color: #a52a2a;
}

.rodape .list h3{
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 3px solid #a52a2a;
    width: 200px;
    margin: 5px 0px;
}

.rodape .redes_sociais{
    width: 25%;
    height: 165px;
}

.rodape .redes_sociais h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
    width: 80%;
    border-bottom: 3px solid #a52a2a;
}

.rodape .redes_sociais ul{
    display: flex;
    margin-left: 20px;
}

.rodape .redes_sociais i{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #a52a2a;
    border: 2px solid #a52a2a;
    color: #f9f9f9;
    padding: 7px;
}

.rodape .redes_sociais i:hover{
    background-color: #f9f9f9;
    color: #a52a2a;
}

@media(max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .cabecalho{
        display: flex;
        flex-direction: row-reverse;
        height: auto;
    }

    .navbar{
        display: none;
    }

    .logo{
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }

    .logo_image{
        padding: 0;
        width: 90px;
    }

    .sidebar{
        width: 40%;
        display: flex;
        height: 100%;
        z-index: 1;
    }

    .sidebar_container{
        display: flex;
        position: fixed;
        top: 0px;
        left: -250px;
        width: 250px;
        background-color: #042331;
        height: 100%;
        transition: ease-in-out 0.5s;
    }

    .sidebar_container ul{
        position: absolute;
        top: 8%;
        width: 100%;
    }

    .sidebar_container ul a{
        display: block;
        color: #fff;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        line-height: 60px;
        box-sizing: border-box;
        border-top: 1px solid rgb(200, 200, 200, 0.5);
        border-bottom: 1px solid #000;
        transition: ease-in-out 0.3s;
    }

    .sidebar_container li:hover a{
        padding-left: 50px;
    }

    .sidebar_container ul li i{
        margin-right: 10px;
    }

    #check{
        display: none;
    }

    label #btn, label #cancel{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
    }

    label #btn{
        top: 25px;
        left: 20px;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
    }

    label #cancel{
        z-index: 2;
        top: 10px;
        left: -35px;
        font-size: 1rem;
        text-align: center;
        color: #d83a3a;
        border: 2px solid #ddd;
        padding: 1px 5px;
    }

    #check:checked ~ .sidebar_container{
        transition: ease-in-out 0.5s;
        transform: translateX(250px);
    }

    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ label #cancel{
        position: fixed;
        transition: ease-in-out 0.5s;
        left: 210px;
    }    

    .sidebar_container ul li a:checked ~ .sidebar_container{
        left: -250px;
    }

    .account{
        display: none;
    }

    body{
        margin: 0;
        padding: 0;
    }
    .secao-conteudo{
        flex-direction: column;
    }
    .conteudo_banner{
        width: 100%;
        height: auto;
    }
    .conteudo_artigo{
        width: auto;
        margin-bottom: 2px;
        background-color: #fff;
        margin: 0px;
    }
    .conteudo_artigo h1{
        font-size: 1.6rem;
        padding: 50px 0px 20px 10px;
    }
    .conteudo_artigo p{
        font-size: 1.05rem;
        width: auto;
        padding: 20px 10px 0px 10px;
        text-align: left;
    }
    .conteudo_artigo h2{
        padding: 40px 0px 0px 10px;
        font-size: 1.4rem;
        color: #591730;
    }
    .conteudo_artigo i{
        color: #008000;
    }
    #paragrafo2{
        margin-bottom: 30px; /* APENAS PARA DISTANCIAR A IMAGEM */
    }

    .conteudo_artigo figure{
        width: 90%;
        height: 260px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
    }
    .conteudo_artigo .mapa-grecia{
        display: flex;
        width: 90%;
        height: 200px;
    }
    .conteudo_artigo figcaption{
        margin: auto;
        text-align: center;
        transform: translateY(-20px);
        display: block;
        background-color: #ddd;
        width: 90%;
        height: 25px;
        border-radius: 0px 0px 20px 20px;
        font-size: 1.07rem;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
    }
    .recomendado{
        height: 400px;
    }
    
    .artigo_mitologia{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1400px; /* A CADA PERSONAGEM, ADICIONA 200px */
        margin-top: 30px;
    }
    .div_deus{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 200px;
        background-color: #f5f5f5;
        border-radius: 15px;
        box-shadow: 1px 1px 10px #ddd;
        padding: 5px;
        margin-bottom: 30px;
    }
    .txt p{
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        padding: 5px;
        line-height: 1.15;
        text-align: left;
    }
    .div_deus span{
        display: block;
        margin-bottom: 10px;
    }
    .div_deus .zeus-img{
        display: flex;
        width: 60px;
        height: auto;
    }
    .div_deus .afrodite-img{
        display: flex;
        width: 50px;
        height: auto;
    }
    .div_deus .atena-img{
        display: flex;
        width: 62px;
        height: auto;
    }
    .div_deus .poseidon-img{
        display: flex;
        width: 70px;
        height: auto;
        margin-right: 40px;
    }
    .div_deus .dionisio-img{
        display: flex;
        width: 92px;
        height: auto;
        margin-right: 30px;
    }
    .div_deus .apolo-img{
        display: flex;
        width: 65px;
        height: auto;
    }

    .rodape{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 50px 15px;
    }

    .rodape .text,
    .rodape .list,
    .rodape .redes_sociais{
        width: 100%;
        margin-bottom: 30px;
    }

    .rodape .text{
        align-items: flex-start;
    }

    .rodape .list h3{
        width: 180px;
    }

    .rodape .redes_sociais h3{
        width: 250px;
    }      
}