@charset "utf-8";

/* Cabecalho */
.cabecalho{
    height: 60px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* Cabecalho logo */
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.3rem;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.1);
}
/* Cabecalho login */
.btnSingIN{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSingIN:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}
.btnSingIN:focus{
    outline: none;
}
.btnSignUP{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnSignUP:hover{
    background-color: #eee;
    color: #00f;
    box-shadow: 0.5px 0.5px 5px #000;
}
.btnSignUP:focus{
    outline: none;
}
/* Rodapé */
.rodape{
    background-color: #3d3d3d;
    color: #0ff;
    padding: 50px 0px 30px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-around;
}
.rodape_introducao h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_redesSociais p{
    font-size: 1.1rem;
    line-height: 1.15;
}
.icone_facebook{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.icone_facebook:hover{
    transform: scale(1.1);
}
.icone_linkedin{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.icone_linkedin:hover{
    transform: scale(1.1);
}
.icone_instagram:hover{
    transform: scale(1.1);
}
.icone_github{
    margin-top: 5px;
    margin-left: 5px;
}
.icone_github:hover{
    transform: scale(1.1);
}
#icone{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    background-color: #eee;
}
.rodape_copy{
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
}
