@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

/* Cabecalho */
.cabecalho{
    height: 70px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, 0.365);
}
.cabecalho_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho_sidebar{
    display: none;
}
/* Cabecalho logo */
.cabecalho_menu-logo{
    width: 35%;
}
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-items{
    display: flex;
    width: 45%;
}
.cabecalho_menu-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.3rem;
    transition: ease-in-out 0.2s;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.05);
}
/* Cabecalho login */
.cabecalho_menu-login{
    display: flex;
    width: 20%;
}
.btnSingIN{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
.btnSingIN:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.385);
}
.btnSingIN:focus{
    outline: none;
}
.btnSignUP{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
.btnSignUP:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.433);
}
.btnSignUP:focus{
    outline: none;
}
/* CONTEUDO */
main .banner{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.secao_pagina{
    display: flex;
}
.conteudo{
    width: 60%;
    background-color: #f5f5f5;
    margin: 30px;
    border-radius: 10px;
    padding-bottom: 50px;
}
.conteudo h1{
    padding: 50px 10px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-decoration: 3px #ff7040 underline;
}
.conteudo h2{
    padding: 30px 10px 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
.conteudo p{
    line-height: 1.5;
    font-size: 1.1rem;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#txt{
    margin-bottom: 20px;
    /* APENAS PARA DAR ESPAÇAMENTO EM ALGUMAS FRASES */
}
.conteudo figure{
    display: flex;
    margin: auto;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 6px #91919146;
}
.conteudo .mapa-roma{
    width: 500px;
    height: 300px;
    margin: auto;
}
.recomendado{
    margin: 30px;
    background-color: #f5f5f5;
    padding: 10px;
    height: 380px;
    border-radius: 10px;
}
.recomendado h2{
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 5px;
}
.recomendado ul{
    padding: 20px 0px;
}
.recomendado ul li{
    line-height: 2.5;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ff7040;
}
.recomendado ul a:hover{
    background-color: #eee;
}
.recomendado ul a li:hover{
    background-color: #eee;
}
.recomendado ul li{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.perfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff7040;
    width: 100%;
    border-bottom: 1.5px dashed #544;
    margin-top: 100px;
}
.perfil_foto-imagem{
    border-radius: 50%;
    margin: 20px 10px 20px 20px;
    object-fit: cover;
}
.perfil_txt{
    display: flex;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
/* RODAPE */
.rodape{
    background-color: #ff7040;
    color: #fff;
    padding: 50px 0px 30px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-around;
}
.rodape_introducao{
    width: 40%;
    margin-left: 30px;
}
.rodape_introducao h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais{
    width: 40%;
    margin-left: 40px;
}
.rodape_redesSociais h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_redesSociais p{
    font-size: 1.1rem;
    line-height: 1.15;
}
.icone_facebook{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.icone_facebook:hover{
    transform: scale(1.1);
}
.icone_linkedin{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
}
.icone_linkedin:hover{
    transform: scale(1.1);
}
.icone_instagram:hover{
    transform: scale(1.1);
}
.icone_github{
    margin-top: 5px;
    margin-left: 5px;
}
.icone_github:hover{
    transform: scale(1.1);
}
#icone{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    background-color: #eee;
}
.rodape_endereco{
    width: 25%;
}
.rodape_endereco h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_endereco p{
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.15;
}
.rodape_copy{
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
}

@media(max-width: 768px){
    /* CABEÇALHO */
    .cabecalho{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .cabecalho_menu-items{
        display: none;
    }
    .cabecalho_menu-login{
        display: none;
    }
    /* MENU LATERAL */
    .cabecalho_sidebar{
        display: flex;
        height: 100%;
        z-index: 1;
        width: 45%;
    }
    .sidebar{
        display: flex;
        position: fixed;
        left: -250px;
        width: 250px;
        background-color: #042331;
        height: 100%;
        transition: ease-in-out 0.5s;
    }
    .sidebar header{
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        padding: 30px;
        background-color: #063146;
    }
    .sidebar ul{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .sidebar ul a{
        display: block;
        color: #fff;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        line-height: 60px;
        box-sizing: border-box;
        border-top: 1px solid rgb(200, 200, 200, 0.5);
        border-bottom: 1px solid #000;
        transition: ease-in-out 0.3s;
    }
    .sidebar li:hover a{
        padding-left: 50px;
    }
    .sidebar ul li i{
        margin-right: 10px;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
    }
    label #btn{
        top: 25px;
        left: 25px;
        color: #000;
        font-size: 26px;
    }
    label #cancel{
        z-index: 1111;
        left: -32px;
        top: 25px;
        font-size: 20px;
        border: 2px solid #000;
        color: #f00;
        padding: 5px;
    }
    #check:checked ~ .sidebar{
        transition: ease-in-out 0.5s;
        transform: translateX(250px);
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        position: fixed;
        transition: ease-in-out 0.5s;
        left: 30px;
    }    
    .sidebar ul li a:checked ~ .sidebar{
        left: -250px;
    }
    /* LOGO */
    .cabecalho_menu-logo{
        display: flex;
        width: 55%;
    }
    .cabecalho_menu-logo--imagem{
        width: 170px;
        margin-left: 0px;
    }
    /* CONTEUDO */
    main .banner{
        width: 100%;
        height: auto;
    }
    .secao_pagina{
        flex-direction: column;
    }
    .conteudo{
        width: 100%;
        background-color: #fff;
        margin: 0px;
    }
    .conteudo h1{
        padding: 50px 5px 0px 5px;
        font-size: 1.8rem;
    }
    .conteudo h2{
        padding: 50px 10px 15px 5px;
        font-size: 1.4rem;
    }
    .conteudo p{
        padding: 0px 10px;
        font-size: 1.05rem;
        text-align: left;
        font-weight: 600;
    }
    .conteudo figure{
        width: 90%;
        height: auto;
        padding: 20px 20px;
        box-sizing: border-box;
    }
    .conteudo figure .mapa-roma{
        width: 100%;
        height: auto;
    }
    .perfil_txt{
        font-size: 1.05rem;
        padding-left: 10px;
    }
    .recomendado{
        justify-content: flex-start;
        height: 400px;
    }
    /* RODAPE */
    .rodape{
        background-color: #ff7040;
        color: #fff;
    }
    .rodape_secao{
        display: block;
    }
    .rodape_introducao{
        width: 100%;
        margin: 0;
    }
    .rodape_introducao h2{
        margin-bottom: 15px;
        margin-left: 5px;
    }
    .rodape_introducao p{ 
        display: inline-block;
        text-align: left;
        margin-left: 10px;
        margin-right: 5px;
    }
    .rodape_redesSociais{
        width: 100%;
        margin: 0;
    }
    .rodape_redesSociais h2{
        padding: 5px;
        margin-top: 50px;
    }
    .rodape_redesSociais p{
        padding: 10px;
        text-align: left;
    }
    .rodape_icone{
        margin-left: 10px;
    }
    .icone1{
        margin-left: 10px;
    }
    .rodape_icone:focus{
        outline: none;
    }
    .rodape_endereco{
        width: 100%;
        margin: 0;
    }
    .rodape_endereco h2{
        padding: 5px;
        margin-bottom: 15px;
        margin-top: 50px;
        font-size: 1.6rem;
    }
    .rodape_endereco p{
        padding-left: 10px;
        text-align: justify;
        margin-bottom: 50px;
        font-size: 1.1rem;
        font-style: italic;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 30px;
        font-size: 1.1rem;
    }        
}
@media(min-width: 769px) and (max-width: 880px){
    /* CABECALHO */
    .cabecalho_menu-logo{
        width: 38%;
    }
    .cabecalho_menu-logo--imagem{
        width: 160px;
        margin-left: 8px;
        padding: 0;
    }
    .cabecalho_menu-items{
        width: 38%;
        justify-content: center;
    }
    .cabecalho_menu-lista{
        font-size: 0.9rem;
        width: 70%;
        justify-content: center;
        padding: 10px;
    }
    .cabecalho_menu-items--lista a{
        font-size: 1.05rem;
        font-weight: bold;
    }
    .cabecalho_menu-login{
        width: 27%;
        margin-left: 20px;
        justify-content: flex-end;
    }
    .btnSingIN{
        font-size: 0.6rem;
        font-weight: bold;
        border-radius: 10px;
    }
    .btnSignUP{
        font-size: 0.6rem;
        margin-right: 10px;
        font-weight: bold;
        border-radius: 10px;
    }
    /* RODAPE */
    .rodape{
        padding: 50px 0px 30px 0px;
    }
    .rodape_secao{
        display: flex;
        justify-content: space-around;
    }
    .rodape_introducao{
        width: 35%;
        margin-right: 25px;
        margin-left: 10px;
    }
    .rodape_introducao h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_introducao p{ 
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_redesSociais{
        width: 35%;
        margin-right: 25px;
    }
    .rodape_redesSociais h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_redesSociais p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_endereco{
        width: 30%;
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_endereco p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 50px;
        font-size: 1.1rem;
    }
}

@media(min-width: 881px) and (max-width: 1200px){
    /* CABECALHO */
    .cabecalho_sidebar{
        display: none;
    }
    /* Cabecalho logo */
    .cabecalho_menu-logo{
        width: 30%;
    }
    .cabecalho_menu-logo--imagem{
        width: 180px;
    }
    /* Cabecalho navbar */
    .cabecalho_menu-items{
        display: flex;
        width: 45%;
        justify-content: center;
    }
    .cabecalho_menu-items--lista a{
        font-size: 1.1rem;
    }
    /* Cabecalho login */
    .cabecalho_menu-login{
        display: flex;
        width: 25%;
        justify-content: flex-end;
    }
    .btnSingIN{
        font-size: 0.8rem;
    }
    .btnSignUP{
        font-size: 0.8rem;
        margin-right: 10px;
    }
    /* RODAPE */
    .rodape{
        padding: 50px 0px 30px 0px;
    }
    .rodape_secao{
        display: flex;
        justify-content: space-around;
    }
    .rodape_introducao{
        width: 35%;
        margin-right: 25px;
        margin-left: 10px;
    }
    .rodape_introducao h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_introducao p{ 
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_redesSociais{
        width: 35%;
        margin-right: 25px;
    }
    .rodape_redesSociais h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_redesSociais p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_endereco{
        width: 30%;
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_endereco p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 50px;
        font-size: 1.1rem;
    }
}

@media(min-width: 1201px) and (max-width:1365px){
    /* Cabecalho */
    .cabecalho{
        height: 70px;
        background-color: #0085FF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid rgba(0, 0, 0, 0.365);
    }
    .cabecalho_sidebar{
        display: none;
    }
    /* Cabecalho logo */
    .cabecalho_menu-logo{
        width: 30%;
    }
    .cabecalho_menu-logo--imagem{
        margin-left: 20px;
        width: 260px;
    }
    /* Cabecalho navbar */
    .cabecalho_menu-items{
        display: flex;
        width: 50%;
        justify-content: centert;
    }
    .cabecalho_menu-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .cabecalho_menu-items--lista{
        display: flex;
        padding-right: 30px;
    }
    .cabecalho_menu-items--lista a{
        color: #fff;
        font-size: 1.3rem;
        transition: ease-in-out 0.2s;
    }
    /* Cabecalho login */
    .cabecalho_menu-login{
        display: flex;
        width: 20%;
    }
    /* RODAPE */
    .rodape{
        padding: 50px 0px 30px 0px;
    }
    .rodape_secao{
        display: flex;
        justify-content: space-around;
    }
    .rodape_introducao{
        width: 40%;
        margin-right: 25px;
        margin-left: 10px;
    }
    .rodape_introducao h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_introducao p{ 
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_redesSociais{
        width: 35%;
        margin-right: 25px;
    }
    .rodape_redesSociais h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_redesSociais p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_endereco{
        width: 25%;
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .rodape_endereco p{
        font-size: 1.1rem;
        line-height: 1.15;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 50px;
        font-size: 1.1rem;
    }
}