@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.logo{
    width: 20%;
}

.logo_image{
    padding-left: 40px;
    width: 100px;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 55%;
}

.navbar_list{
    display: flex;
    justify-content: center;
}

.navbar_list a{
    color: #000;
    transition: 0.2s ease-in-out color;
}

.navbar_list a:hover{
    color: #a52a2a;
}

.navbar_list_item{
    margin: 0px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    transition: 0.2s ease-in-out color;
}

.navbar_list_item:hover{
    color: #a52a2a;
}

.account{
    width: 25%;
    display: flex;
    justify-content: center;
}

.btn_account{
    width: 120px;
    background-color: #00f ;
    box-shadow: 3px 3px 6px rgba(141, 141, 141, 0.281);
    color: #fff;
    border: transparent;
    border-radius: 5px;
    outline: transparent;
    padding: 8px 10px;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: ease-in-out 0.2s background-color;
}

.btn_account:hover{
    background-color: rgb(3, 3, 190);
    cursor: pointer;
}

.sidebar{
    display: none;
}

.account_mobile{
    display: none;
}

.apresentacao{
    width: 80vw;
    margin: auto;
    padding: 50px 0px;
}

.text h1{
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 3px solid #a52a2a;
    width: 350px;
    text-align: center;
    margin: auto;
}

.text p{
    font-size: 1.05rem;
    line-height: 1.5;
    margin-top: 30px;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.image img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 0px #a52a2a;
}

.image button{
    width: 250px;
    height: 40px;
    margin-top: 40px;
    border-radius: 5px;
    border: transparent;
    outline: transparent;
    background-color: #a52a2a;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.2s ease-in-out background-color;
    transform: translate(8px, 0px);
}

.image button:hover{
    background-color: transparent;
    border: 2px solid #a52a2a;
    color: #a52a2a;
    cursor: pointer;
}

.about{
    padding: 50px 0px;
}

.about details{
    margin: 25px 0px;
}

.about details summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    color: #000;
    padding: 15px 10px;
    border-radius: 5px 5px 0px 0px;
    outline: transparent;
    font-size: 1.1rem;
    cursor: pointer;
}

.about details summary i{
    font-size: 1rem;
    color: #777;
}

.about details p{
    margin: auto;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #555;
}

.rodape{
    background-color: #f9f9f9;
    height: 300px;
    display: flex;
    align-items: center;
    width: 100%;
}

.rodape .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape .text img{
    width: 170px;
}

.rodape .text p{
    width: 80%;
    margin-top: 0;
}

.rodape .text a{
    color: #a52a2a
}

.rodape .list{
    width: 25%;
}

.rodape .list ul{
    width: 80px;
}

.rodape .list li{
    font-size: 1rem;
    line-height: 2;
    width: 80px;
    color: #000;
    transition: 0.2s ease-in-out color;
}    

.rodape .list li:hover{
    cursor: pointer;
    color: #a52a2a;
}

.rodape .list h3{
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 3px solid #a52a2a;
    width: 200px;
    margin: 5px 0px;
}

.rodape .redes_sociais{
    width: 25%;
    height: 165px;
}

.rodape .redes_sociais h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
    width: 80%;
    border-bottom: 3px solid #a52a2a;
}

.rodape .redes_sociais ul{
    display: flex;
    margin-left: 20px;
}

.rodape .redes_sociais i{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #a52a2a;
    border: 2px solid #a52a2a;
    color: #f9f9f9;
    padding: 7px;
}

.rodape .redes_sociais i:hover{
    background-color: #f9f9f9;
    color: #a52a2a;
}

@media(max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .cabecalho{
        display: flex;
        flex-direction: row-reverse;
        height: auto;
    }

    .navbar{
        display: none;
    }

    .logo{
        width: 55%;
        display: flex;
        justify-content: center ;
    }

    .logo_image{
        padding: 0;
        width: 90px;
    }

    .sidebar{
        width: 25%;
        display: flex;
        height: 100%;
        z-index: 1;
    }

    .sidebar_container{
        display: flex;
        position: fixed;
        top: 0px;
        left: -250px;
        width: 250px;
        background-color: #042331;
        height: 100%;
        transition: ease-in-out 0.5s;
    }

    .sidebar_container ul{
        position: absolute;
        top: 8%;
        width: 100%;
    }

    .sidebar_container ul a{
        display: block;
        color: #fff;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        line-height: 60px;
        box-sizing: border-box;
        border-top: 1px solid rgb(200, 200, 200, 0.5);
        border-bottom: 1px solid #000;
        transition: ease-in-out 0.3s;
    }

    .sidebar_container li:hover a{
        padding-left: 50px;
    }

    .sidebar_container ul li i{
        margin-right: 10px;
    }

    #check{
        display: none;
    }

    label #btn, label #cancel{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
    }

    label #btn{
        top: 25px;
        left: 20px;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
    }

    label #cancel{
        z-index: 2;
        top: 10px;
        left: -35px;
        font-size: 1rem;
        text-align: center;
        color: #d83a3a;
        border: 2px solid #ddd;
        padding: 1px 5px;
    }

    #check:checked ~ .sidebar_container{
        transition: ease-in-out 0.5s;
        transform: translateX(250px);
    }

    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ label #cancel{
        position: fixed;
        transition: ease-in-out 0.5s;
        left: 210px;
    }    

    .sidebar_container ul li a:checked ~ .sidebar_container{
        left: -250px;
    }

    .account{
        display: none;
    }

    .account_mobile{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .account_mobile a i{
        color: #000;
        font-size: 1.25rem;
    }


    .apresentacao{
        width: 90vw;
    }

    .apresentacao h1{
        width: 320px;
        font-weight: 400;
    }

    .rodape{
        box-sizing: border-box;
        padding: 40px 10px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .rodape .text,
    .rodape .list,
    .rodape .redes_sociais{
        width: 100%;
        margin-bottom: 30px;
    }

    .rodape .text{
        align-items: flex-start;
    }

    .rodape .text img{
        margin: auto;
    }

    .rodape .text p{
        width: 100%;
    }

    .rodape .list h3{
        width: 180px;
    }

    .rodape .redes_sociais h3{
        width: 250px;
    }

    .rodape .redes_sociais ul{
        width: 100%;
        justify-content: center;
        margin-left: 0px;
    }
}