@charset "utf-8";

/* Cabecalho */
.cabecalho{
    height: 70px;
    background-color: #0085FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, 0.365);
}
.cabecalho_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho_sidebar{
    display: none;
}
/* Cabecalho logo */
.cabecalho_menu-logo{
    width: 35%;
}
.cabecalho_menu-logo--imagem{
    margin-left: 20px;
}
/* Cabecalho navbar */
.cabecalho_menu-items{
    display: flex;
    width: 45%;
}
.cabecalho_menu-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.cabecalho_menu-items--lista{
    display: flex;
    padding-right: 30px;
}
.cabecalho_menu-items--lista a{
    color: #fff;
    font-size: 1.3rem;
    transition: ease-in-out 0.2s;
}
.cabecalho_menu-items--lista a:hover{
    transform: scale(1.05);
}
/* Cabecalho login */
.cabecalho_menu-login{
    display: flex;
    width: 20%;
}
.btnSignIN{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
.btnSignIN:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.385);
}
.btnSignIN:focus{
    outline: none;
}
.btnSignUP{
    font-size: 1.05rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #00f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease-in-out background-color 0.5s, color 0.5s;
}
.btnSignUP:hover{
    background-color: #3f8dd6;
    color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.433);
}
.btnSignUP:focus{
    outline: none;
}
/*Conteudo*/
.corpo_site{
    background-color: #fff;
}
.conteudo_site{
    background-color: #fff;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
section h1{
    font-size: 30pt;
    margin-bottom: 30px;
    text-decoration: underline #0ff 4px;
}
.perfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.perfil_foto-imagem{
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.perfil_txt{
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.introducao{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
/*Questões*/
.txtquest{
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 900px;
}
input{
    cursor: pointer;
}
.alternativas{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Resposta das questões */
.btnverificar{
    display: inline-block;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #22bb36;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}
.btnverificar:focus{
    outline: none;
}
.resposta{
    padding: 0px 0px 10px 30px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
details{
    padding-top: 10px;
    background-color: #aaa;
    width: 900px;
    border-radius: 10px;
}
summary{
    display: flex;
    background: #00f;
    width: 900px;
    height: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}
summary:focus{
    outline: none;
}
summary::-webkit-details-marker{
            display: none;
}
details p{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 700px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.detailsFinal{
    margin-bottom: 40px;
}
.perfil{
    background-color: #ccc;
}

/* Rodapé */
.rodape{
    background-color: #ff7040;
    color: #fff;
    padding: 50px 0px 30px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-around;
}
.rodape_introducao h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.mobile{
    display: none;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_redesSociais p{
    font-size: 1.1rem; 
    line-height: 1.15;
}
.icone_facebook{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_linkedin{
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 6px;
}
.icone_instagram{
    margin-top: 5px;
    margin-right: 6px;
}
.icone_github{
    margin-top: 5px;
    margin-left: 6px;
}
.rodape_icone{
    width: 20px;
    height: 30px;
    background-color: #eee;
    border-radius: 70%;
}
.icone_facebook:hover{
    transform: scale(1.1);
}
.icone_linkedin:hover{
    transform: scale(1.1);
}
.icone_instagram:hover{
    transform: scale(1.1);
}
.icone_github:hover{
    transform: scale(1.1);
}
.rodape_endereco h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.rodape_endereco p{
    font-size: 1.1rem;
    line-height: 1.15;
    font-style: italic;
}
.rodape_copy{
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
}

/* Medias queries*/

/* CELULARES */
@media (max-width: 768px){
    /* CABEÇALHO */
    .cabecalho{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .cabecalho_menu-items{
        display: none;
    }
    .cabecalho_menu-login{
        display: none;
    }
    /* MENU LATERAL */
    .cabecalho_sidebar{
        display: flex;
        height: 100%;
        z-index: 1;
        width: 50%;
    }
    .sidebar{
        display: flex;
        position: fixed;
        left: -250px;
        width: 250px;
        background-color: #042331;
        height: 100%;
        transition: ease-in-out 0.5s;
    }
    .sidebar header{
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        padding: 30px;
        background-color: #063146;
    }
    .sidebar ul{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .sidebar ul a{
        display: block;
        color: #fff;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        line-height: 60px;
        box-sizing: border-box;
        border-top: 1px solid rgb(200, 200, 200, 0.5);
        border-bottom: 1px solid #000;
        transition: ease-in-out 0.3s;
    }
    .sidebar li:hover a{
        padding-left: 50px;
    }
    .sidebar ul li i{
        margin-right: 10px;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
    }
    label #btn{
        top: 25px;
        left: 25px;
        color: #000;
        font-size: 26px;
    }
    label #cancel{
        z-index: 1111;
        left: -32px;
        top: 25px;
        font-size: 20px;
        border: 2px solid #000;
        color: #f00;
        padding: 5px;
    }
    #check:checked ~ .sidebar{
        transition: ease-in-out 0.5s;
        transform: translateX(250px);
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        position: fixed;
        transition: ease-in-out 0.5s;
        left: 30px;
    }    
    .sidebar ul li a:checked ~ .sidebar{
        left: -250px;
    }
    /* LOGO */
    .cabecalho_menu-logo{
        display: flex;
        width: 50%;
    }
    .cabecalho_menu-logo--imagem{
        width: 160px;
        margin-left: 0px;
    }
    /* corpo do site */
    .conteudo_site{
        margin: none;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
    }
    section h1{
        text-align: left;
        font-size: 1.8rem;
        margin-bottom: 40px;
        text-decoration: underline #0ff 2px;
    }
    .introducao{
        font-size: 1.05rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .txtquest{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 40px;
        font-size: 1.05rem;
        line-height: 1.5;
        width: auto;
    }
    .alternativas{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.05rem;
        line-height: 1.5;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .btnverificar{
        font-size: 1.05rem;
        padding: 5px;
    }
    .resposta{
        font-size: 1.05rem;
    }
    details{
        padding-top: 10px;
        background-color: #aaa;
        width: auto;
    }
    summary{
        width: auto;
        height: 30px;
        padding: 5px;
        font-size: 1.1rem;
    }
    summary::-webkit-details-marker{
        display: none;
    }
    details p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.05rem;
        line-height: 1.2;
        text-align: justify;
        width: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 60px;
    }
    .perfil_foto-imagem{
        border-radius: 50%;
        margin-left: 10px;
    }
    .perfil_txt{
        margin-left: 5px;
        font-size: 1.05rem;
        font-family: 'Times New Roman', Times, serif;
    }
    /* Rodapé */
    .rodape_secao{
        display: block;
    }
    .rodape_introducao h2{
        margin-bottom: 0px;
        margin-left: 5px;
    }
    .rodape_introducao p{ 
        padding: 10px;
        text-align: justify;
        font-size: 1.05rem;
        font-weight: bold;
    }
    .rodape_redesSociais h2{
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .rodape_redesSociais p{
        padding: 10px;
        text-align: justify;
        font-size: 1.05rem;
        font-weight: bold;
    }
    .rodape_icone{
        margin-left: 10px;
    }
    .rodape_endereco h2{
        font-size: 1.7rem;
        margin: 40px 0px 10px 5px;
    }
    .rodape_endereco p{
        font-size: 1.05rem;
        line-height: 1.15;
        font-style: italic;
        margin-left: 10px;
        font-weight: bold;
    }
    .rodape_copy{
        text-align: center;
        margin-top: 30px;
        font-size: 1.05rem;
        font-weight: bold;
    }
}

@media(min-width: 769px) and (max-width: 880px){
    /* Cabecalho */
    .cabecalho{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.365);
    }
    /* Cabecalho logo */
    .cabecalho_menu-logo{
        width: 30%;
    }
    .cabecalho_menu-logo--imagem{
        margin-left: 0px;
        width: 200px;
    }
    /* Cabecalho navbar */
    .cabecalho_menu-items{
        display: flex;
        width: 40%;
    }
    .cabecalho_menu-lista{
        width: 100%;
    }
    .cabecalho_menu-items--lista{
        display: flex;
        padding-right: 30px;
    }
    .cabecalho_menu-items--lista a{
        font-size: 1.05rem;
        font-weight: bold;
    }
    /* Cabecalho login */
    .cabecalho_menu-login{
        display: flex;
        width: 20%;
    }
    .btnSingIN{
        font-size: 0.8rem;
        padding: 10px;
        margin-left: 10px;
        border-radius: 15px;
        background-color: #00f;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: ease-in-out background-color 0.5s, color 0.5s;
    }
    .btnSingIN:hover{
        background-color: #3f8dd6;
        color: #fff;
        box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.385);
    }
    .btnSingIN:focus{
        outline: none;
    }
    .btnSignUP{
        font-size: 0.8rem;
        padding: 10px;
        margin-left: 10px;
        border-radius: 15px;
        background-color: #00f;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: ease-in-out background-color 0.5s, color 0.5s;
    }
    .btnSignUP:hover{
        background-color: #3f8dd6;
        color: #fff;
        box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.433);
    }
    .btnSignUP:focus{
        outline: none;
    }
    .conteudo_banner img{
        width: 100%;
        height: 350px;
    }
}